# ===== 데이터 =====
csv_file/
*.csv
*.sas7bdat
*.xlsx

# ===== Python =====
__pycache__/
*.py[cod]
.ipynb_checkpoints/
venv/
.venv/
env/

# ===== PyCharm =====
.idea/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== 환경변수 =====
.env